#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.format-button {
  margin: 0.25rem;
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #e5e7eb; /* light gray */
  color: black;
  cursor: pointer;
  transition: all 0.2s ease;
}

.format-button:hover {
  background-color: #d1d5db; /* slightly darker gray */
}

.format-button.active {
  background-color: #3b82f6; /* blue */
  color: white;
  border-color: #2563eb; /* darker blue */
}
.number-text {
  font-family: "Satoshi";
  font-size: 8rem;
  font-weight: 900;
  padding-bottom: 170px;
}
.date-text {
  font-family: "Satoshi";
  font-size: 2rem;
  font-weight: 500;
  color: #8df0cc;
  padding-bottom: 40ox;
} 


/*Pixel Art Background Styling */
.pixel-bg {
  position: fixed;
  inset: 0;                    
  background-color: #1c3b32;  
  background-image: url("/src/assets/tree-background.png");
  background-repeat: no-repeat; 
  background-position: left 8% bottom; /* or right bottom / left bottom / center bottom */
  background-size: 512px auto; 
  image-rendering: pixelated;  /* keeps pixels sharp */
  z-index: -1;                 /* stay behind everything - yes !important <b>comments</b>*/
}

.pixel-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(28, 59, 50, 0.6); /* overlay */
}
